.logo-universidad{
    height: 4rem; /* Ajusta el tamaño del logo si es necesario */
  margin-right: 1.5rem; 
}

.backgroundHero{
    background-image: url('../img/IMAGENHERO.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  color: var(--color4);
  overflow: hidden; 
  z-index: 0;
}

.backgroundHero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hero-overlay-color);
   z-index: -1;
}

.link-Hero{
  gap: 2rem;
  padding-left: 2rem;

}
li{
  padding-left: 4rem;
}

a{
  color: var(--color4);

}

.textoMain{
  font-size: 1.5rem;
}